<launch>
  <!-- Launch the Novatel GPS Driver node --> 
  <node pkg="novatel_gps_driver" type="novatel_gps_driver.py" name="driver_novatel" output="screen">
    <param name="port" value="/dev/ttyUSB0" type="string"/>
    <param name="baud" value="57600" type="int"/>
  </node>

  <!-- Publish the static transform from base_link to gps -->
  <node pkg="tf" type="static_transform_publisher" name="tf_publisher_gps" args="-.45 0 0 0 0 0 base_link base_gps 100"/>
  
  <!-- Run the GPS conversion from LLA to Pose (relative to the reference point) -->
  <include file="$(find cutter_bot_drivers)/launch/gps_conversion.launch" />
</launch>
