<launch>
   
   <!-- Node to translate /cmd_vel messages to /cwru/cmd_vel -->
   <node pkg="cutter_bot_drivers" type="cmd_vel_translate.py" name="translate_cmd_vel" args="_topic_in:=/cmd_vel _topic_out:=/cwru/cmd_vel"/>
   
   <!-- Node to translate /cwru/status messages to /cwru/switches -->
   <node pkg="cutter_bot_drivers" type="crio_status_translate.py" name="translate_status" />

   <!-- Serial Node to CRIO -->
   <node pkg="rosserial_python" type="serial_node.py" name="SIRL" args="/dev/ttyUSB1" output="screen"/>
   
</launch>
