<launch>
  <node pkg="cutter_slip_detect" type="slip_detect" name="slip_detector" output="screen">
    <param name="odom_var_v" value=".03" type="double"/>
    <param name="odom_var_w" value=".03" type="double"/>
    <param name="imu_var_a" value="1" type="double"/>
    <param name="imu_var_w" value=".03" type="double"/>
    <param name="proc_var_v" value=".02" type="double"/>
    <param name="proc_var_w" value=".02" type="double"/>
    <param name="proc_var_a" value=".5" type="double"/>
    <param name="proc_var_wdot" value=".5" type="double"/>
  </node>
</launch>
